
.form-control{
    background-color: #f6f5f4;
    border-radius:15px;
 }
 input:active,input:focus{
     outline: none !important;
     border: none !important;
     box-shadow: none !important;
     background-color: white !important;
     
  }
  .submit-btn{
     background-color:#f68d2f; 
     margin-top: 10px !important;
      color:white; 
  }
  .sign-up{
    background-color:rgb(252, 247, 247);
    box-shadow: rgb(148, 148, 148);
    width:400px;
    height: 440px;
    border-radius:30px; 
    text-align:center; 
    margin-top: 9rem;
  }
  