.main-divv{
height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
}
.salon-registration-form{
    width: 40% !important;
}
.reg-form{
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding: 0px 2rem 0px 2rem !important;
    background-color:rgb(252, 247, 247);
    box-shadow: rgb(148, 148, 148);
    border-radius:30px;
}
.registration-form-submit-button{
    margin: 1rem 0 2rem 0;
    background-color: #F68D2F;
}

.form-group>input#salonImage:enabled{
    border: none;
}

@media only screen and (max-width: 600px) {
    .salon-registration-form{
        max-width: 80%;
    }
}