.fixed{
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.navbar{
  background-color: rgba(255,255,255,0.7) !important;
  padding: 0 0 0 10px !important;
}
.navbar-brand>img{
  height: 70px;
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
.navbar-brand>img:hover{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.login-signup{
  color: black;
  padding-bottom: 5px;
}
.fa-user-circle{
  font-size: xx-large !important;
  position: relative;
  top: 4px;
}
.cart{
  margin-right: 2%;
  
}

.fa-share-square{
  color: lawngreen;
}

.div1{
  width: 100%;
  position: relative;
  top: 80px;
  background-color: white;
}
.salon-main-img{
  height: 500px;
  width: 100%;
}
.salon-title{
  margin-top: 20px;
}
.salon-info{
  font-size: medium;
  font-weight:450;
  float: right;
  color: red;
}
.rating{
  float: right;
}
.rem-cart-btn{
  background-color: #f68d2f;
}
.info-btn{
  border: 1px solid grey !important;
  color: gray !important;
  border-radius: 10px !important;
  margin-left: 10px;
  margin-bottom: 10px;
}
.salon-category, .salon-location{
  margin-left: 10px !important;
  margin-bottom: 0px;
}
.salon-location{
  margin-bottom: 5px;
}
.breaker{
  margin: auto;
  background-color: black;
  height: 1px;
  width: 80%;
  margin-bottom: 25px;
  margin-top: 15px;
}
.navbar-container{
  height: 5rem;
  vertical-align:middle;
  margin-bottom:2rem;
}
.last{
  height: 200px;
  width: 100%;
  margin-bottom: 200px;
  background-color: white;
}
.container{
  max-width: 1250px !important ;
}
.salon-navbar>.nav-item{
  margin-left: 2rem;
}
.sal-card{

  width: 48%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: inline-flex;
}
.btn-add-to-cart{
  background-color: #f68d2f !important;
  float: right;
  color: white !important;
}
.nav-link:hover{
  color: #f68d2f !important;
}


@media only screen and (max-width: 900px) {
  .sal-card{
    width: 100% !important;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand>img{
      height: 45px;
  }
  .login-signup{
      font-size: 12px;
      letter-spacing: -1px;
      padding-bottom: 6px;
  }
  .fa-user-circle{
      font-size: x-large !important;
      position: relative;
      top: 4px;
  }
  .div1{
      top: 55px;
      height: 500px;
  }
}
.mansalonnav{
  z-index:9999;
}
.nav-con{
  padding-top: 1.2rem;
}
.fa-location-arrow{
  color: black;
}
.fa-comments{
  color: blue;
}
.fa-heart{
  color: red;
}

@media only screen and (max-width: 876px){
  .card{
      width: 95%;
  }
}

@media only screen and (max-width: 1020px){
  .salon-navbar>.nav-item{
      margin-left: 1.2rem;
  }
}